@charset "uft-8";



/* -----------------header---------------- */
header{
  background-color: green;
  position: fixed;
  width: 100%;
  z-index: 10;
}
.header_inner{
  width: 1024px;
  margin: 0 auto;
}
header img{
  display: block;
  margin: 0 auto;
}
/* ----------------main------------------ */
main{
  background-color: navy;
  padding-top: 102px;
}
main h2{display: none;}
.slide img{
  width: 1024px;
  display: block;
  margin: 0 auto;
}


