@charset "utf-8";

*{margin:0px;padding:0px;}
h2, p{padding:10px;}
.wrap{display:grid;grid-gap:10px;}
header{
  height:250px;
  background:#ccc;
  grid-area:header;
}
nav{
  width:80px;height:610px;
  background:#ff0;
  grid-area:nav;
}
.cont1{
  width:590px;height:550px;
  background:rgb(152, 152, 152);
  grid-area:cont1;
}
.cont2{
  width:345px;height:550px;
  background:rgb(217, 217, 217);
  grid-area:cont2;
}
footer{
  height:50px;background:#444;
  color:#fff;
  grid-area:footer;
}