@charset "utf-8";

/* tablet 해상도일 경우 적용되는 서식 */

@media screen and (min-width:768px) and (max-width:1024px) {
  body{overflow-x:hidden;}
  
  .wrap{
    width:100%;
    grid-template-columns:repeat(2, 60% 40%);
    grid-template-areas:
    "header header"
    "nav nav"
    "cont1 cont2"
    "footer footer"
    ;
  }
  header{width: 100%;}
  nav{width:100%;height:40px;}
  .cont1{width:100%}
  .cont2{width:100%;}
  footer{width: 100%;}
}