@charset "utf-8";

/* 모바일 기본서식 */
header, footer{width:100%;overflow:hidden;}
html, body{scroll-behavior: smooth;}
body{
  font-family: "Nanum Godic", arial, sans-serif;
  font-size:0.8rem; /* 1rem = 100% = 16px */
  color:#333;
}
a{color:#333;text-decoration:none;}

/* 내비게이션 */
.gnb{font-size:1rem;}
/* 
  기준값 글자크기 설정
  제목1 = 1.5
  소제목1 = 1.3
  소제목2, 탭메뉴 = 1.2
  문단내용 = 0.8
  버튼 = 1
  푸터정보 = 0.9
*/






/* common.css */
header{
  height:100px;
  background:#ccc;
  transition:0.5s;
}

/* 헤더영역에 추가될 서식 */
.h_act{
  background:#333 !important;
  position:fixed;
  width:100%;
  z-index:1000;
}

main{
  height:3000px;
  background:#ffff00;
}
footer{
  background:#333;
}
#top_btn{
  background:#fff;
  border:1px solid #ccc;
  padding:0px 8px 5px 8px;
  text-align:center;
  position:fixed;
  right:60px;bottom:100px;
  box-shadow:0px 0px 3px #ccc;
  display:none;  
}

.act{display:block !important;}

